[NWNX]
disablenwnxinit=n     #Set to "y" to not enforce the NWNX!INIT requirement

[ODBC2]
; source=mysql
source=MYSQL
server=mysql      #name of the database server
user=pfnwn            #username to access db
pwd=	#password for username
db=pfnwn              #database to connect to

; Set hookscorco to false if you want to disable hooking of
; StoreCampaignObject and RetrieveCampaignObject entirely
hookscorco=false

[Debug]
debuglevel=1          #Set to 1 or higher to output successively
#                     # verbose debug information

[LogDir]
logdir=logs.0         #Set to the relative root of the log directory.


[FIXES]
copy_vars = 1   # Copy local variables on stack split and on store transaction,
                     # fire OnDisturbed when you merge a stack from a placeable
compare_vars = 1  # If set to 1, items with different local vars don't stack
keep_hidden_in_conversation = 1  # If set to 1, creatures don't unhide when they start a conversation
hp_limit = -10  # Negative HP limit - values up to -127 are allowed

hide_charlist_dms = 1 # Hide DM characters.
hide_charlist_all = 1              # Hide the whole online characters list on login 
hide_charlist_levels = 1        # Hide the class(es) nstead of class list)
hide_charlist_portraits = 0     # Hide the portrait (shows default male/female portrait)

cap_ability_inc = 0                # If greater than zero, set ability increase cap.
cap_ability_dec = 0                # If greater than zero, set ability decrease cap.
cap_atkbonus_inc = 0               # If greater than zero, set attack bonus increase cap.
cap_atkbonus_dec = 0               # If greater than zero, set attack bonus decrease cap.
cap_skill_inc = 0                  # If greater than zero, set skill increase cap.
cap_skill_dec = 0                  # If greater than zero, set skill decrease cap.

#[PROFILER]
LogLevel=0

[EVENTS]
event_script=tha_events

[EXTEND]
examine_cr_npc_only=1
party_percentage_hp=1
party_hide_areas=0
maxdexbonus_ip=0      ;AdjustMaxDexBonus index in itempropdef.2da | 0 to disable
ineffective_umd_ip=0 ;IneffectiveUseMagicalDevice index in itempropdef.2da | 0 to disable
equip_unidentified=0

[RESOURCEMANAGER]
MaxLogSize = 512
LogLevel   = 1
SourcePath = resman
Folders = 1
